body {
    background-color: white;
    font-size: 62.5%;
    font-family: 'PT Sans Narrow', sans-serif;
}

.section-images {
    background-color: black;
}

.parallax-effect-container {
    position: relative;
}

.image {
    filter: grayscale(100%);
}

.image:hover {
    filter: none;
    cursor: crosshair;
    transform: scale(1.1);
    transition: transform ease-in-out 2s;

}

.fidget-spinner {
    background-image: url('https://66.media.tumblr.com/217e8974bd4b50b1f2d330a8c74010cc/tumblr_ovcvjoNeOP1t2kke2o1_1280.gif');
    height: 100vh;
    background-size: contain;
    background-attachment: fixed;
    background-position: 50%;
    background-color: white;
    background-repeat: no-repeat;
}

.fidget-spinner-container {
    position: relative;
    background-color: white;
    height: 90vh;
}

.pictures-text {
    font-size: 5rem;
}

.start-a-project {
    font-size: 3rem;
}

.contact-me {
    font-size: 3rem;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

.contact-text,
.email,
.twitter,
.portfolio {
    font-size: 16px;
}

.twitter:hover {
color: #00acee;
cursor: crosshair;
}

.portfolio:hover {
    background: linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: crosshair;
}
.footer {
    position: relative;
    font-size: 16px;
}

.heart {
    color: red;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: black
}

@media only screen and (max-device-width: 425px) {
    .fidget-spinner {
      height: 50vh;
    }

    .image {
        filter: none;
    }

    .fidget-spinner-container {
        height: 100%;
    }
  }